<div class="contents row">
  <div class="container">
      <h3>
        投稿ページ
      </h3>

    <%= form_with(model: @picture, local: true) do |form| %>
        <%= form.text_area :description, placeholder: "写真の説明", rows: "5" %>
        <%= form.collection_select(:family_id, Family.all, :id, :name ) %>
        <%= form.file_field :image, id:"item-image" %>
        <%= form.submit "SEND" %>
        <div id="image-list"></div>
    <% end %>

  </div>
</div>
