<!DOCTYPE html>
<html>
  <head>
    <title>My sweet baby girl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a class="titlename" href="/">My sweet baby girlðŸ’–</i>
</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
          <span><%= "Menu" %>
            <ul class="user__info">
              <li>
                <%= link_to "å¤«å©¦ç”¨", pictures_path %>
                <%= link_to "ãƒ‘ãƒ‘å®Ÿå®¶ç”¨", papafamily_pictures_path %>
                <%= link_to "ãƒžãƒžå®Ÿå®¶ç”¨", mamafamily_pictures_path %>
                <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
            <%= link_to "æŠ•ç¨¿ã™ã‚‹", new_picture_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "post" %>
            <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright My sweet baby girl 2021.
      </p>
    </footer>
  </body>

</html>
